th[role=columnheader]:not(.no-sort) {
	cursor: pointer;
}

.card {
	text-align:left;
	background-color:#ffffff;
	border: 2px solid black;
	border-radius: 5px;
	width:350px;
	margin-left:100px;
	margin-top:15px;
	margin-bottom:15px;
}

th[role=columnheader]:not(.no-sort):after {
	content: '';
	float: right;
	margin-top: 7px;
	border-width: 0 4px 4px;
	border-style: solid;
	border-color: #404040 transparent;
	visibility: hidden;
	opacity: 0;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
	border-bottom: none;
	border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
	visibility: visible;
	opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
	visibility: visible;
	opacity: 1;
}

table, th {
  border: .3125em solid black;
}
	
.table{
	width: 100%
}

.textbox{
	padding: 0;
    outline: none;
    border: .2em solid #cdcdcd;
    border-color: #FFD700;
    background-color: cream;
	border-radius: .7rem;
	width: 10em;
}

th {
  padding-top: .75em;
  padding-bottom: .75em;
  text-align: left;
  background-color: #7fa1d8;
  color: white;
  cursor: default;
}

tr:hover {
	cursor: pointer;
	background-color:#adadad;
}

.comparePara {
	text-align: left;
	color: black;
	cursor: default;
	margin-bottom: 0em;
}

.compareData {
	border-right: .3125em solid black;
}

.compareButton {
	margin: .3125em .3125em .3125em .3125em;
	background-color: #337ab7;
	border: none;
	color: white;
	text-align: center;
	display: inline-block;
	font-size: .8125em;
	margin: .25em .125em;
	cursor: pointer;
	width: 5em;
	height: 2em;
	background-size: contain;
	border-radius: .3125em;
}

.teamSearch:hover {
	background-color: #4e6a99;
}

html {
	font-size: 10px;
}

h5{
	font-size: 1.375em;
	letter-spacing: .00625em;
	text-align:center;
	padding-top: .625em;
}

h6{
	font-size: 1.125em;
	letter-spacing: .00625em;
	padding-bottom: 1.25em;
	text-align:center;
}

body {
	margin: 0em;
	background-color: #e6edeb;
	font-family: robotomedium;
}

/*
	Fonts
*/

@font-face {
	font-family: 'robotomedium';
	src: url('roboto-medium-webfont.woff2') format('woff2'),
		 url('roboto-medium-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'theboldfont';
	src: url('theboldfont-webfont.woff2') format('woff2'),
		 url('theboldfont-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

.rocket {
	z-index: -1;
}

.teamnumber {
   position: fixed;
   width: 15%;
   background-color: #f2f2f2;
   color: #3264fb;
   text-align: center;
   height: 4.375em;
   border-radius: 1.5625em;
}

.tab {
  float: left;
  border: .0625em solid #ccc;
  background-color: #f1f1f1;
  width: 20%;
  height: 43.75em;
}

.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 1.375em 1em;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1.0625em;
}
.tab button:hover {
  background-color: #ddd;
}
.tab button.active {
  background-color: #ccc;
}
.tabcontent {
  float: left;
  padding: 0em .75em;
  border: .0625em solid #ccc;
  width: 70%;
  border-left: none;
  height: 18.75em;
  display: none;
}

.h4 {
	margin-bottom: .6em;	
	text-decoration: underline;
	font-family: theboldfont;
	letter-spacing: .0625em;
}

.panel-heading{
	background-color: #0a46a8 !important;
	color: #FAC805 !important;
	border-color: #0a46a8 !important;
	padding: 1.125em;
	width: 100%;
}

.panel-body{
	background-color: #f2f2f2 !important;
	overflow: hidden;
}

.panel-title{
	font-size: 2.5em;
	text-align: center;
}

.panel-body{
	font-size: 1.25em;
	color: #000000;
	text-align: justify;
	border-radius: 2.5em;
}

/*
	Sandstorm
*/

/* 
	Grid 
*/

.grid1 {
	display: grid;
	width: 95%;
	height: 11.875em;
	grid-template-columns: 20% 15% 40% 19%;
	grid-template-rows: 100%;
}
.grid2 {
	display: grid;
	width: 95%;
	height: 11.875em;
	grid-template-columns: 20% 15% 40% 19% 15%;
	grid-template-rows: 100%;
}
.grid3 {
	display: grid;
	width: 95%;
	height: 11.875em;
	grid-template-columns: 20% 15% 40% 19% 15%;
	grid-template-rows: 100%;
}

.grid4 {
	display: grid;
	width: 95%;
	height: 11.875em;
	grid-template-columns: 20% 15% 40% 19%;
	grid-template-rows: 100%;
}

.box {
	background-color: #ced7e5;
	color: black;
	border-radius: .3125em;
	border: .125em black solid;
	font-family: sans-serif;
	font-size: 1em;
}

.arrows{
	border: .3125em solid black;
	border-radius: 1.375em;
	height: 4.375em;
	width: 4.375em;
	font-size: 1.875em;
}

#invis{
	opacity: 0 !important;
}

#teleopbutt{
	font-size: 1.25em;
}

/*
	Path Boxes
 */
.loadingz {
	margin: .3125em .3125em .3125em .3125em;
	background-color: #337ab7;
	border: none;
	color: black;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: .875em;
	margin: .25em .125em;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	cursor: pointer;
	width:6.5em;
	height:6.5em;
	background-size:contain;
	border-radius: .5em
}
 
 .loadingz2 {
	margin: .3125em .3125em .3125em .3125em;
	background-color: #337ab7;
	border: none;
	color: black;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: .875em;
	margin: .25em .125em;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	cursor: pointer;
	width:6.5em;
	height:6.5em;
	background-size:contain;
	border-radius: .5em
 }
 
 .loadingz2:hover{
	background-color: #555555;
	background-color:white;
	border-color:#337ab7;
 }
 
 .loadingz:hover{
	background-color: #555555;
	background-color:white;
	border-color:#337ab7;
 }
 
.path {
	color: black;
	font-family: Verdana, Geneva, sans-serif;
	letter-spacing: 0em;
	font-size: 1.875em;
	position: relative;
	top: .5em;
	text-decoration: underline;
}

.buttondelete{
	margin: .3125em .3125em .3125em .3125em;
	background-color: #337ab7;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: .8125em;
	margin: .25em .125em;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	cursor: pointer;
	width:5em;
	height:2em;
	background-size:contain;
 }
 
 .buttondelete1{
	margin: .3125em .3125em .3125em .3125em;
	background-color: #337ab7;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: .8125em;
	margin: .25em .125em;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	cursor: pointer;
	width:10em;
	height:2em;
	background-size:contain;
 }

#circle {
      width: 2em;
      height: 2em;
      -webkit-border-radius: 2.5em;
      -moz-border-radius: 2.5em;
      border-radius: 3em;
      background: #FFC72E;
    }

.buttonsubmit{
	border: .3125em solid black;
	border-radius: 1.375em;
	height: 6.25em;
	width: 50%;
}

.button {
	border: .3125em solid black;
	border-radius: 1.375em;
}

/*
	Sandstorm Buttons
*/

.sandRadio {
	height: 1.25em;
	width: 1.25em;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.buttonCycle1 {
	background-color: #ced7e5;
	color: black;
	border-radius: .3125em;
	border: .125em black solid;
	font-family: sans-serif;
	font-size: 1em;
	width: 6em;
	text-align: center;
	height: 3em;
	margin-top: 4.4375em;
}

.buttonCycle2 {
	background-color: #ced7e5;
	color: black;
	border-radius: .3125em;
	border: .125em black solid;
	font-family: sans-serif;
	font-size: 1em;
	width: 6em;
	text-align: center;
	height: 3em;
	margin-top: 4.4375em;
}

.buttonCycle3 {
	background-color: #ced7e5;
	color: black;
	border-radius: .3125em;
	border: .125em black solid;
	font-family: sans-serif;
	font-size: 1em;
	width: 6em;
	text-align: center;
	height: 3em;
	margin-top: 4.4375em;
}

.buttonCycle4 {
	background-color: #ced7e5;
	color: black;
	border-radius: .3125em;
	border: .125em black solid;
	font-family: sans-serif;
	font-size: 1em;
	width: 6em;
	text-align: center;
	height: 3em;
	margin-top: 4.4375em;
}